.hp_bg
{
    background: lightskyblue url('blur_cor.jpg') no-repeat;
    background-size: cover;
}

.op_03
{
    background: rgba(0, 0, 0, 0.3);
}

.op_w_03
{
    background: rgba(255, 255, 254, 0.2);
}
